# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


api/venv/*
api/app/__pycache__/__init__.cpython-38.pyc
api/app/__pycache__/exceptions.cpython-38.pyc
api/app/__pycache__/models.cpython-38.pyc
api/app/db/__pycache__/db_helper.cpython-38.pyc
api/app/db/queries/__pycache__/__init__.cpython-38.pyc
api/app/db/queries/__pycache__/kalfi.cpython-38.pyc
api/app/db/queries/__pycache__/knesset22.cpython-38.pyc
api/app/db/queries/__pycache__/yeshuv_knesset.cpython-38.pyc
api/app/api_1_0/__pycache__/__init__.cpython-38.pyc
api/app/api_1_0/__pycache__/yeshuv.cpython-38.pyc
api/app/logic/__pycache__/constants.cpython-38.pyc
api/app/logic/__pycache__/kalfi_display.cpython-38.pyc
api/migrations/__pycache__/env.cpython-38.pyc
api/setup/__pycache__/clean_hebrew_text.cpython-38.pyc
api/.idea/sonarlint/issuestore/index.pb
api/.idea/sonarlint/issuestore/1/0/107016704999f2b9e9c2d30708d14da55efcf0e0
api/.idea/sonarlint/issuestore/1/9/19359a61ae2446b51b549167b014da2fcf265768
api/.idea/sonarlint/issuestore/1/a/1a1b9769344cb239f2e540e1e6ee1efa2d3034ea
api/.idea/sonarlint/issuestore/1/f/1f086b210d5e04558c8ba44cff13243f772522f6
api/.idea/sonarlint/issuestore/2/0/20f91c0dfba7e8ca0f532c2be61d7bf5d6fc52be
api/.idea/sonarlint/issuestore/3/1/3156ad13e4d695cd526bbb7b031016ecba842270
api/.idea/sonarlint/issuestore/4/d/4d932c4a81976d2a9c560509b72439eeea98149e
api/.idea/sonarlint/issuestore/6/b/6b5a07a517e9a3845a279675e888c81b77b9d712
api/.idea/sonarlint/issuestore/7/1/71ce915c2336c31d8e3a935ca582fdd0382744ab
api/.idea/sonarlint/issuestore/8/6/86772ef3dbd3f0648104fd9fdeb64a6ed8f47929
api/.idea/sonarlint/issuestore/a/5/a5a6e54be4ba78753dd1e940e09e54c18786e195
api/.idea/sonarlint/issuestore/a/a/aa21a0b0c87769481dce2214981b6f99e44d7277
api/.idea/sonarlint/issuestore/a/f/af7a45edff3c185e28d932ee25663140e4399bf7
api/.idea/sonarlint/issuestore/e/9/e919f1e867cfa561970ba9549250f4d5bb90bcf6
api/.idea/.gitignore
api/.idea/api.iml
api/.idea/misc.xml
api/.idea/modules.xml
api/.idea/vcs.xml
api/.idea/inspectionProfiles/profiles_settings.xml
api/__pycache__/config.cpython-38.pyc
