# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


api/venv/*
api/app/__pycache__/__init__.cpython-38.pyc
api/app/__pycache__/exceptions.cpython-38.pyc
api/app/__pycache__/models.cpython-38.pyc
api/app/db/__pycache__/db_helper.cpython-38.pyc
api/app/db/queries/__pycache__/__init__.cpython-38.pyc
api/app/db/queries/__pycache__/kalfi.cpython-38.pyc
api/app/db/queries/__pycache__/knesset22.cpython-38.pyc
api/app/db/queries/__pycache__/yeshuv_knesset.cpython-38.pyc
api/app/api_1_0/__pycache__/__init__.cpython-38.pyc
api/app/api_1_0/__pycache__/yeshuv.cpython-38.pyc
api/app/logic/__pycache__/constants.cpython-38.pyc
api/app/logic/__pycache__/kalfi_display.cpython-38.pyc
api/migrations/__pycache__/env.cpython-38.pyc
api/setup/__pycache__/clean_hebrew_text.cpython-38.pyc
api/.idea/sonarlint/issuestore/index.pb
api/.idea/sonarlint/issuestore/1/0/107016704999f2b9e9c2d30708d14da55efcf0e0
api/.idea/sonarlint/issuestore/1/9/19359a61ae2446b51b549167b014da2fcf265768
api/.idea/sonarlint/issuestore/1/a/1a1b9769344cb239f2e540e1e6ee1efa2d3034ea
api/.idea/sonarlint/issuestore/1/f/1f086b210d5e04558c8ba44cff13243f772522f6
api/.idea/sonarlint/issuestore/2/0/20f91c0dfba7e8ca0f532c2be61d7bf5d6fc52be
api/.idea/sonarlint/issuestore/3/1/3156ad13e4d695cd526bbb7b031016ecba842270
api/.idea/sonarlint/issuestore/4/d/4d932c4a81976d2a9c560509b72439eeea98149e
api/.idea/sonarlint/issuestore/6/b/6b5a07a517e9a3845a279675e888c81b77b9d712
api/.idea/sonarlint/issuestore/7/1/71ce915c2336c31d8e3a935ca582fdd0382744ab
api/.idea/sonarlint/issuestore/8/6/86772ef3dbd3f0648104fd9fdeb64a6ed8f47929
api/.idea/sonarlint/issuestore/a/5/a5a6e54be4ba78753dd1e940e09e54c18786e195
api/.idea/sonarlint/issuestore/a/a/aa21a0b0c87769481dce2214981b6f99e44d7277
api/.idea/sonarlint/issuestore/a/f/af7a45edff3c185e28d932ee25663140e4399bf7
api/.idea/sonarlint/issuestore/e/9/e919f1e867cfa561970ba9549250f4d5bb90bcf6
api/.idea/.gitignore
api/.idea/api.iml
api/.idea/misc.xml
api/.idea/modules.xml
api/.idea/vcs.xml
api/.idea/inspectionProfiles/profiles_settings.xml
api/__pycache__/config.cpython-38.pyc
public/sass/bootstrap/_alerts.scss
public/sass/bootstrap/_badges.scss
public/sass/bootstrap/_breadcrumbs.scss
public/sass/bootstrap/_button-groups.scss
public/sass/bootstrap/_buttons.scss
public/sass/bootstrap/_carousel.scss
public/sass/bootstrap/_close.scss
public/sass/bootstrap/_code.scss
public/sass/bootstrap/_component-animations.scss
public/sass/bootstrap/_dropdowns.scss
public/sass/bootstrap/_forms.scss
public/sass/bootstrap/_glyphicons.scss
public/sass/bootstrap/_grid.scss
public/sass/bootstrap/_input-groups.scss
public/sass/bootstrap/_jumbotron.scss
public/sass/bootstrap/_labels.scss
public/sass/bootstrap/_list-group.scss
public/sass/bootstrap/_media.scss
public/sass/bootstrap/_mixins.scss
public/sass/bootstrap/_modals.scss
public/sass/bootstrap/_navbar.scss
public/sass/bootstrap/_navs.scss
public/sass/bootstrap/_normalize.scss
public/sass/bootstrap/_pager.scss
public/sass/bootstrap/_pagination.scss
public/sass/bootstrap/_panels.scss
public/sass/bootstrap/_popovers.scss
public/sass/bootstrap/_print.scss
public/sass/bootstrap/_progress-bars.scss
public/sass/bootstrap/_responsive-embed.scss
public/sass/bootstrap/_responsive-utilities.scss
public/sass/bootstrap/_scaffolding.scss
public/sass/bootstrap/_tables.scss
public/sass/bootstrap/_theme.scss
public/sass/bootstrap/_thumbnails.scss
public/sass/bootstrap/_tooltip.scss
public/sass/bootstrap/_type.scss
public/sass/bootstrap/_utilities.scss
public/sass/bootstrap/_variables.scss
public/sass/bootstrap/_wells.scss
public/sass/bootstrap/mixins/_alerts.scss
public/sass/bootstrap/mixins/_background-variant.scss
public/sass/bootstrap/mixins/_border-radius.scss
public/sass/bootstrap/mixins/_buttons.scss
public/sass/bootstrap/mixins/_center-block.scss
public/sass/bootstrap/mixins/_clearfix.scss
public/sass/bootstrap/mixins/_forms.scss
public/sass/bootstrap/mixins/_gradients.scss
public/sass/bootstrap/mixins/_grid-framework.scss
public/sass/bootstrap/mixins/_grid.scss
public/sass/bootstrap/mixins/_hide-text.scss
public/sass/bootstrap/mixins/_image.scss
public/sass/bootstrap/mixins/_labels.scss
public/sass/bootstrap/mixins/_list-group.scss
public/sass/bootstrap/mixins/_nav-divider.scss
public/sass/bootstrap/mixins/_nav-vertical-align.scss
public/sass/bootstrap/mixins/_opacity.scss
public/sass/bootstrap/mixins/_pagination.scss
public/sass/bootstrap/mixins/_panels.scss
public/sass/bootstrap/mixins/_progress-bar.scss
public/sass/bootstrap/mixins/_reset-filter.scss
public/sass/bootstrap/mixins/_reset-text.scss
public/sass/bootstrap/mixins/_resize.scss
public/sass/bootstrap/mixins/_responsive-visibility.scss
public/sass/bootstrap/mixins/_size.scss
public/sass/bootstrap/mixins/_tab-focus.scss
public/sass/bootstrap/mixins/_table-row.scss
public/sass/bootstrap/mixins/_text-emphasis.scss
public/sass/bootstrap/mixins/_text-overflow.scss
public/sass/bootstrap/mixins/_vendor-prefixes.scss
public/images/about.jpg
public/images/blog-1.jpg
public/images/blog-2.jpg
public/images/blog-3.jpg
public/images/cover_img_1.jpg
public/images/item-1.jpg
public/images/item-2.jpg
public/images/item-5.jpg
public/images/item-6.jpg
public/images/item-7.jpg
public/images/item-8.jpg
public/images/item-9.jpg
public/images/item-10.jpg
public/images/item-11.jpg
public/images/item-12.jpg
public/images/item-13.jpg
public/images/item-14.jpg
public/images/item-15.jpg
public/images/item-16.jpg
public/images/loader.gif
public/images/loc.png
public/images/mobile-1.jpg
public/images/mobile-2.jpg
public/images/person1.jpg
public/images/person2.jpg
public/images/person3.jpg
public/images/person4.jpg
public/images/work-1.jpg
public/images/work-2.jpg
public/images/work-3.jpg
public/images/work-4.jpg
public/images/work-5.jpg
public/images/work-6.jpg
public/images/work-7.jpg
public/images/work-8.jpg
public/images/work-9.jpg
api/.idea/encodings.xml
api/.idea/sonarlint/issuestore/0/0/006051459c7e87961f3c38d6bb8b832b578c9ecc
api/.idea/sonarlint/issuestore/1/e/1e288e3f212062e23ff816b3b5369e64c5def3ca
api/.idea/sonarlint/issuestore/3/9/39365fdb65e8f2f22e7bf1df502a7a4edcd724a2
api/.idea/sonarlint/issuestore/7/4/742e03b5d9ae5b166ca116078a7bf85c41940472
api/.idea/sonarlint/issuestore/9/4/94429f6b71a95cb2ae4e8f4a4d2574e2cd7dc7bb
api/.idea/sonarlint/issuestore/c/c/ccaa0636a3cef483602a4e946c197de6c46bd8c7
api/.idea/sonarlint/issuestore/c/f/cf1d82fda73fcac6ab23f0df4255e2719c54d4fb
api/app/logic/__pycache__/text_helper.cpython-38.pyc
api/app/logic/__pycache__/yeshuv_queries.cpython-38.pyc
